/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.table-container {
    min-width: 1100px;
}
  
.table-column {
    min-width: 250px !important;
    width: 250px !important;
}